# Django Config
SECRET_KEY='your-secret-key'
DEBUG=True
ALLOWED_HOSTS='*'

# Main Database Config (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=<database user>
DATABASE_PASSWORD=<database password>
DATABASE_NAME=ai_hrms
DATABASE_SCHEMA=public

# OpenAI Config
OPENAI_API_KEY='your-openai-api-key'
OPENAI_MODEL='gpt-4o-mini'
OPENAI_MAX_RETRIES=3
OPENAI_DEFAULT_TEMPERATURE=0.3
OPENAI_DEFAULT_ERROR_MESSAGE="I'm sorry, I'm having trouble connecting right now. Please try again in a moment."
OPENAI_IMAGE_MODEL=your-image-model-name